spring:
  application:
    name: maestro
  autoconfigure:
    exclude:
      - com.netflix.maestro.engine.autoconfigure.AwsConfiguration
      - org.springframework.cloud.aws.autoconfigure.cache.ElastiCacheAutoConfiguration
      - org.springframework.cloud.aws.autoconfigure.context.ContextCredentialsAutoConfiguration
      - org.springframework.cloud.aws.autoconfigure.context.ContextInstanceDataAutoConfiguration
      - org.springframework.cloud.aws.autoconfigure.context.ContextRegionProviderAutoConfiguration
      - org.springframework.cloud.aws.autoconfigure.context.ContextResourceLoaderAutoConfiguration
      - org.springframework.cloud.aws.autoconfigure.context.ContextStackAutoConfiguration
      - org.springframework.cloud.aws.autoconfigure.jdbc.AmazonRdsDatabaseAutoConfiguration
      - org.springframework.cloud.aws.autoconfigure.mail.MailSenderAutoConfiguration
      - org.springframework.cloud.aws.autoconfigure.messaging.MessagingAutoConfiguration
      - org.springframework.cloud.aws.autoconfigure.metrics.CloudWatchExportAutoConfiguration
  sleuth:
    sampler:
      # disable tracing
      probability: 0.0

server:
  port: 8080

maestro:
  queue:
    properties:
      1:
        worker-num: 8
        scan-interval: 5000
      2:
        worker-num: 12
        scan-interval: 5000
      3:
        worker-num: 17
        scan-interval: 5000
      4:
        worker-num: 5
        scan-interval: 3000
      5:
        worker-num: 3
        scan-interval: 10000
  notifier:
    type: noop
  alerting:
    type: noop
  redis:
    enabled: false
  sel:
    thread-num: 3
    timeout-millis: 120000
    stack-limit: 128
    loop-limit: 25001
    array-limit: 25001
    length-limit: 10000
    visit-limit: 100000000
    memory-limit: 100000000
  cluster:
    name: test
  # step database related action config
  step-action:
    action-timeout: 5000
    check-interval: 500

engine:
  configs:
    # database config
    workflow-database-error-retries: 5
    workflow-database-insert-batch-size: 32
    workflow-database-rewrite-batched-inserts: true
    workflow-database-login-timeout-seconds: 5
    workflow-database-socket-timeout-seconds: 50
    jdbc-username: root
    jdbc-url: "jdbc:tc:cockroach:v22.2.19:///maestro_local"
    flyway-enabled: true
    workflow-database-client-name: maestro-local
    workflow-database-connection-pool-size-max: 8
    workflow-database-connection-pool-idle-min: 8
    workflow-database-connection-lifetime-max: 50000
    workflow-database-connection-idle-timeout: 30000
    # flow engine config
    flow-engine-address: http://${spring.cloud.client.ip-address}:${server.port}
    initial-maintenance-delay-millis: ${random.long[2000,5000]}
    internal-worker-num: 80

stepruntime:
  env: test
  foreach:
    loop-batch-limit: 50
    insert-batch-limit: 10
    get-rollup-batch-limit: 100
  subworkflow:
    always-pass-down-param-names: []
  cache:
    default-sha-cache-minutes: 43200  # 30 days
    default-sha-max-size: 100
    custom-sha-cache-minutes: 10
    custom-sha-max-size: 50
  # callback delay interval setting based on step instance status and step type.
  callback-delay-config:
    fixed-callback-delay-in-secs:
      RUNNING:
        default: 3
      WAITING_FOR_PERMITS:
        default: 5
      WAITING_FOR_SIGNALS:
        default: 5
      PAUSED:
        default: 5
      FINISHING:
        default: 5
      NOT_CREATED:
        default: 30

triggers:
  #time trigger configurations
  time-trigger:
    type: noop
    trigger-batch-size: 10
  #signal trigger configurations
  signal-trigger:
    type: noop

logging:
  level:
    com:
      netflix: INFO
